{% comment %} Get settings object {% endcomment %}
{% if section.settings.introduction %}
  {% assign params = section.settings %}
  {% assign type = 'section' %}
{% elsif block.settings.introduction %}
  {% assign params = block.settings %}
  {% assign type = 'block' %}
{% elsif slide.settings.introduction %}
  {% assign params = slide.settings %}
  {% assign type = 'slide' %}
{%endif %}
{% unless include_button == false %}
  {% assign include_button = true %}
{% endunless %}
{% assign delay = 0 %}
{% if params.heading != blank or params.introduction != blank or params.text != blank%}
<div class="common-header__outer type--{{type | default: 'section'}} align--{{params.text_align | default: settings.header_alignment }} size--{{params.text_size | default: 'standard'}}">
  {% if params.heading != blank or params.introduction != blank or params.subtitle != blank %}
    <header class="common-header type--{{type}}">
      {% if params.introduction != blank %}
        <h4 data-aos="fade-in" data-aos-delay="{{delay}}{% assign delay = delay | plus: 50 %}" class="h4 label common-header__introduction">{{ params.introduction | escape }}</h4>
      {% endif %}
      {% if params.title_logo != blank %}
        {% include 'responsive-image' with image:params.title_logo, max_width: 1200, max_height: 1200 %}
      {% elsif params.heading != blank %}
        <h2 data-aos="fade-in" data-aos-delay="{{delay}}{% assign delay = delay | plus: 50 %}" class="main-header font--{{settings.font_family_heading}} style--{{settings.header_style}} color--{{settings.header_color}} spacing--{{settings.header_spacing}} common-header__heading">{{ params.heading | escape }}</h4>
      {% endif %}
      {% if params.subtitle != blank %}
        <h4 data-aos="fade-in" data-aos-delay="{{delay}}{% assign delay = delay | plus: 50 %}" class="h4 label common-header__subtitle">{{ params.subtitle | escape }}</h4>
      {% endif %}
    </header>
  {% endif %}

   {%- if params.text != blank -%}
    <div class="rte common-rte">
      {{ params.text }}
    </div>
  {%- endif -%}

  {% if include_button == true  and params.button_url != blank and params.button_text != blank %}
  <div class="button-wrap">
    {% include 'button' %}
  </div>
  {% endif %}
</div>
{%endif%}