<div style="background-color: {{slide.settings.background_color}}; color: {{slide.settings.text_color}}" class="slideshow-slide swiper-slide background-slide">
 {% assign overlay_op = 100 | minus: slide.settings.overlay | times: 0.01 %}
  <div class="slide-bg" style="opacity:{{overlay_op}}" aria-label="{{section.settings.title}}">
      {% if slide.settings.image_mobile != blank %}
    <div class="mobile-image">
        {% include 'responsive-image' with image: slide.settings.image_mobile, max_width: 900, max_height: 1000 %}
    </div>
      {%endif%}
    <div class="desktop-image">
      {% if slide.settings.image != blank %}
        {% include 'responsive-image' with image: slide.settings.image, max_width: 2500, max_height: 1400 %}
      {%else %}
        {{ 'lifestyle-2' | placeholder_svg_tag }}
      {%endif%}
    </div>
  </div>
  <div class="slide-content">
    <div class="slide-content-inner {% if slide.settings.mega_text == true%} mega-text {%endif%} {% if slide.settings.shadow_text == true%} shadow-text {%endif%}">
      {% include 'common-header' %}

      <div class="button-wrap">
        {% if slide.settings.button_1_link != empty and slide.settings.button_1_text != empty %}<a href="{{slide.settings.button_1_link}}" class="button inherit">{{slide.settings.button_1_text}}</a>{%endif%}
        {% if slide.settings.button_1_link != empty and slide.settings.button_2_text != empty %}<a href="{{slide.settings.button_2_link}}" class="button inherit">{{slide.settings.button_2_text}}</a>{%endif%}
      </div>

    </div>
  </div>
</div>