{%- comment -%}
  This is a required section for the Shopify Theme Store.
  It is available in the "Featured Collection" section in the theme editor.

  Theme Store required settings
  - Collection

  Theme Store optional settings
  - Heading: title of the featured collection section
{%- endcomment -%}
{%include 'section-starter' with section_class: 'featured-collection', section: block %}
<div class="section-inner">
  {% include 'section-header' with section: block%}

  {%- assign collection = collections[block.settings.collection] -%}
  {% capture max %}{%if collection.products.size <= block.settings.limit%}{{collection.products.size}}{% elsif block.settings.limit == 0%}100{%else%}{{block.settings.limit}}{%endif%}{%endcapture%}
  <div class="collection-grid product-grid size--{{block.settings.size}}" data-max="{{max}}" > 
  
  {% for product in collection.products limit: block.settings.limit %}
    {% include 'grid-item' with secondary_image: block.settings.secondary_image}, show_price: block.settings.show_price}, simplify: block.settings.simplify, hover_details: block.settings.hoverer %}
    {% assign delay = delay | plus: 50 %} 
  {% else %}
    {% for i in (1..6) %}
      <a data-aos="fade-up" data-aos-delay="{{delay}}" href="{{ product.url | within: collection }}" class="product-grid-item grid-item {% if simplify == true %} simplify {%endif%} {% if hover_details == true  %} detail-on-hover {%endif%} ">
        {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
        <div class="grid-item__image">
          {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg placeholder-svg--small' }}
        </div>
      <div class="product-details grid-item__details">
            <h5>{{ 'homepage.onboarding.product_title' | t }}</h5>
          <span class="price-outer">
            {{ 1999 | money }}
          </span>
      </div>
      </a>
    {% endfor %}
  {% endfor %}
  </div>
  {% if block.settings.button_text != blank %}
  <div class="button-wrap center">
    <a href="{{block.settings.button_url | default: collection.url}}" class="button">{{block.settings.button_text}}</a>
  </div> 
  {%endif%}
</div>
</section>

