{% comment %} 

{% include 'vidbox' with video_url: section.settings.url, fallback_gif: fallback_gif, fallback_image: fallback_image, overlay: section.settings.overlay_op, start_time: 0 %} 

{% endcomment %}

<div class="video-player__wrap video-wrap--{{section.id}}" data-overlay="{{overlay}}" data-module="vidbox" data-video-url="{{video_url}}" data-start-time="{{start_time}}"><div class="youtube-player" id="player--{{section.id}}"></div></div>

<style>
.video-player__wrap {
  background-image: url({{'samplebg.jpg' | asset_img_url: '1400x'}});
} 
  {% if fallback_image != blank %}
      .video-wrap--{{section.id}} {
        background-image: url({{fallback_image | img_url: '1200x'}});
        
      }
      {%endif%}
      {% if fallback_gif != blank %}
      .video-wrap--{{section.id}}.use-gif::before {
        background-image: url({{fallback_gif | img_url: '12000x'}});
        
      }{%endif%}
      @media (max-width: 600px) {
      {% if fallback_image != blank %}
          .video-wrap--{{section.id}} {
          background-image: url({{fallback_image | img_url: '900x'}});
          
        }
        {%endif%}
          {% if fallback_gif != blank %}
          .video-wrap--{{section.id}}.use-gif::before {
            background-image: url({{fallback_gif | img_url: '600x'}});
          }
        {%endif%}
      }
      @media (min-width: 900px) {
      {% if fallback_image != blank %}
          .video-wrap--{{section.id}} {
          background-image: url({{fallback_image | img_url: '1500x'}});
          
        }
        {%endif%}
        {% if fallback_gif != blank %}
        .video-wrap--{{section.id}}.use-gif::before {
          background-image: url({{fallback_gif | img_url: '1200x'}});
        }
      {%endif%}
      }
      {% if fallback_image != blank %}
      @media (min-width: 1200px) {
          .video-wrap--{{section.id}} {
          background-image: url({{fallback_image | img_url: '2000x'}});
          
        }
        {%endif%}
        {% if fallback_gif != blank %}
        .video-wrap--{{section.id}}.use-gif::before {
          background-image: url({{fallback_gif | img_url: '2000x'}});
        }
      {%endif%}
      }
    </style>