{%- comment -%}
  This is a required section for the Shopify Theme Store.
  It is available when you add "Collection list" section in the Theme Editor.

  Theme Store required settings
  - Heading: title of the collection list section
  - Collection
{%- endcomment -%}

{% include 'section-starter' with section_class: 'collection-list' %}
<div class="section-inner{% if section.settings.section_size == 'full-width' %} stretch-width{%endif%}" id="section--{{section.id}}">
 {% include 'section-header' %}
  <div class="collection-list__grid style--{{section.settings.layout}}" data-item-count="{{section.blocks.size}}">
  
  {% for block in section.blocks %}
    {%- assign collection = collections[block.settings.collection] -%}

    <a href="{{ collection.url | default: "#" }}" class="collection-list-item collection-block" {{ block.shopify_attributes }}>
    {% if block.settings.image != blank %}
        {%- assign image_object = block.settings.image -%}
      {% elsif collection.image != blank or collection.products.first != blank %}
        {%- assign image_object = collection.image | default: collection.products.first.featured_image -%}
        {% endif%}
        {% if image_object %}
        <div class="collection-list__image">
          {% include 'responsive-image' with
            image: image_object,
            max_width: 600,
            max_height: 480
          %}
        </div>
      {% elsif collection == empty %}
      <div class="responsive-image__wrapper">
        {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
        {{ 'collection-' | append: current | placeholder_svg_tag: 'placeholder-svg placeholder-svg--small' }}
      </div>
      {% endif %}

      {%- assign default_label = 'homepage.onboarding.collection_title' | t -%}
      <div class="collection-item-content">
      
        
          {% if block.settings.pre_header != blank %} 
          <h4 class="h5">{{block.settings.pre_header}}</h5>
        {%endif%}
        <h3 class="h3">{{ collection.title | default: default_label }}</h3>
        {% if block.settings.description  != blank %}
          <h4 class="h5">{{block.settings.description}}</h5>
        {%endif%}
        {% if section.settings.button_text != blank %}
        <div class="button  light over-dark">{{section.settings.button_text}}</div>
        {%endif%}
        
      </div>
    </a>
  {% endfor %}

  {% if section.blocks.size == 0 %}
    {% include 'no-blocks' %}
  {% endif %}
  </div>
  </div>
  {% if section.settings.layout == 'overlay' %}
  {% assign opacity = 100 | minus: section.settings.overlay_op | times: 0.01 %}
    <style>
      #section--{{section.id}} .collection-list__image {
        opacity: {{opacity}};
      }
      #section--{{section.id}} .collection-item-content {
        color: {{section.settings.overlay_text_color}};
      }
      #section--{{section.id}} .collection-list-item {
        background: {{section.settings.overlay_color}};
      }
    
    </style>
  {%endif%}
</div>
{% schema %}
  {
    "name": "Collection list",
    "max_blocks": 12,
   "class" : "standard-section",
    "settings": [
      {
        "type" : "header",
        "content" : "Collection list settings"
      },
      {
        "type": "text",
        "id": "pre_title",
        "label": "Pre-Heading",
        "default": "Browse our "
      },
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Featured Collections"
      },
      {
        "type" : "text",
        "label" : "Button Text",
        "id" : "button_text"
       },
       {
         "type" : "header",
         "content" : "Layout Settings"
       },
      
      {
        "type" : "select",
        "id" : "layout",
        "label" : "Layout",
        "default" : "standard",
        "options" : [
          {
            "value" : "standard",
            "label" :"Standard"
          },
          {
            "value" : "overlay",
            "label" : "Overlay"
          },
          {
            "value" : "big",
            "label" : "Big"
          }
        ]
      },
     
      {
        "type" : "color",
        "id" : "overlay_color",
        "label" : "Overlay Color",
        "default" :"#000000"
      },
      {
        "type" : "color",
        "id" : "overlay_text_color",
        "label" : "Overlay Text Color",
        "default" :"#FFFFFF"
      },
      {
        "type" : "range",
        "id" :"overlay_op",
        "label" : "Overlay Opacity",
        "default" : 50,
        "step": 5,
        "min": 0,
        "max" : 100
      },
       {
        "type" : "header",
        "content" : "Section Settings"
      },
       {
        "type" : "image_picker",
        "id" : "background_image",
        "label" : "Background Image",
        "info": "Use with full-width sections, please!"
      },
      {
        "type" : "color",
        "id" : "background_color",
        "label" : "Background Color"
      },
      {
        "type" : "color",
        "id" : "text_color",
        "label" : "Text Color"
      },
      {
        "type" : "text",
        "label" : "ID (for anchor links)",
        "id" : "anchor_id"
      },
      {
        "type" : "select",
        "id" : "section_size",
        "label" : "Section size",
        "default" : "large",
        "options" : [
          {
            "value" : "full-width",
            "label" : "Full Width"
          },
          {
            "value" : "large",
            "label" : "Large"
          },
          {
            "value" : "small",
            "label": "Small"
          }
        ]
      },
      {
        "type" : "select",
        "id" : "section_spacing",
        "label" : "Section Spacing",
        "default" : "medium",
        "options" : [
          {
            "value" : "none",
            "label" : "No Spacing"
          },
          {
            "value" : "small",
            "label": "Small"
          },
          {
            "value" : "medium",
            "label" : "Medium"
          },
          {
            "value" : "large",
            "label" : "Large"
          }
        ]
      },
     
      {
        "type" : "select",
        "id" : "background_style",
        "label" : "Background Style",
        "default" : "cover",
        "options" : [
          {
            "value" : "cover",
            "label" : "Cover"
          },
          {
            "value" : "repeat-x",
            "label" : "Horizontal Tile"
          },
          {
            "value" : "repeat-y",
            "label" : "Vertical Tile"
          },
          {
            "value" : "repeat-all",
            "label" : "Tile"
          },
          {
            "value" : "rellax",
            "label" : "Parallax"
          }
        ]
      }
    ],
    "blocks": [
      {
        "type": "collection",
        "name": "Collection",
        "settings": [
          {
            "label": "Collection",
            "id": "collection",
            "type": "collection"
          },
          {
            "type" : "text",
            "id" : "pre_header",
            "label" : "Pre-Header",
            "default" : "Shop"
          },
          {
            "type"  : "image_picker",
            "id" : "image",
            "label" : "Collection Image"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Collection list",
        "category": "Collection",
        "blocks": [
          {
            "type": "collection"
          },
          {
            "type": "collection"
          },
          {
            "type": "collection"
          }
        ]
      }
    ]
  }
{% endschema %}