{%- comment -%}
  This is a required section for the Shopify Theme Store.
  It is available when you add "Instagram" section on the Theme Editor.

  Theme Store required settings
  - Heading: title of the Instagram section
  - Text: description of the Instagram section
{%- endcomment -%}

{% include 'section-starter' with section_class: 'instagram' %}
<div class="section-inner">
{% assign delay = 0 %}
    {% if section.settings.pre_title != blank or section.settings.title != blank  %}
  <div class="instagram-header section-header">
    {% if section.settings.pre_title != blank %}
      <h4 data-aos="fade-up" data-aos-delay="{{delay}}{% assign delay = delay | plus: 50 %}" class="h4 caps section-header__pre_title">{{ section.settings.pre_title | escape }}</h4>
    {% endif %}
    {% if section.settings.title != blank %}
      <h2 data-aos="fade-up" data-aos-delay="{{delay}}{% assign delay = delay | plus: 50 %}" class="h2 section-header__title">{{ section.settings.title | escape }}</h2>
    {% endif %}
    {% if section.settings.include_all_icons == true %}
      <div class="all-social-icons">
        {% include 'social-icons' %}
      </div>
    {%endif%}
  </div>
  {%endif%}
  <div class="embed-wrap">
    {{section.settings.html}}
  </div>
  {% if section.settings.button_url != blank and section.settings.button_text != blank %}
    <div class="button-wrap center" data-aos="fade-up" data-aos-delay="{{delay}}{% assign delay = delay | plus: 50 %}">
      <a href="{{section.settings.button_url}}" class="button solid accent" target="_blank" rel="nofollow"><i class="icon-instagram"></i> {{section.settings.button_text}}</a>
    </div>
      {%endif%}
  </div>
</section>

{% schema %}
  {
    "name": "Instagram",
    "class" : "standard-section",
    "settings": [
      {
        "type": "text",
        "id": "pre_title",
        "label": "Pre-Heading",
        "default": "Connect on"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Instagram"
      },
       {
        "type" : "text",
        "id" : "button_text",
        "label" : "Button Text"
      },
      {
        "type" : "url",
        "id" : "button_url",
        "label" : "Button URL"
      },
      {
        "type" : "checkbox",
        "id" : "include_all_icons",
        "label" : "Include all social icons?"
      },
      {
        "type" : "header",
        "content" : "Instagram Settings"
      },
      {
        "type" : "paragraph",
        "content" : "As of March 2, 2020, there is no way to embed Instagram without a Instagram for Business account, so we use apps.elfsight.com now! Please create a widget there and copy the embed code below!"
      },
      {
        "type" : "html",
        "id" : "html",
        "label" : "ElfSight Embed Code"
      },
       {
        "type" : "header",
        "content" : "Section Settings"
      },
       {
        "type" : "image_picker",
        "id" : "background_image",
        "label" : "Background Image",
        "info": "Use with full-width sections, please!"
      },
      {
        "type" : "color",
        "id" : "background_color",
        "label" : "Background Color"
      },
      {
        "type" : "color",
        "id" : "text_color",
        "label" : "Text Color"
      },
      {
        "type" : "text",
        "label" : "ID (for anchor links)",
        "id" : "anchor_id"
      },
      {
        "type" : "select",
        "id" : "section_spacing",
        "label" : "Section Spacing",
        "default" : "medium",
        "options" : [
          {
            "value" : "none",
            "label" : "No Spacing"
          },
          {
            "value" : "small",
            "label": "Small"
          },
          {
            "value" : "medium",
            "label" : "Medium"
          },
          {
            "value" : "large",
            "label" : "Large"
          }, 
{ "value": "huge", "label" : "Huge"}
        ]
      },
       {
        "type" : "select",
        "id" : "section_size",
        "label" : "Section size",
        "default" : "large",
        "options" : [
          {
            "value" : "full-width",
            "label" : "Full Width"
          },
          {
            "value" : "large",
            "label" : "Large"
          },
          {
            "value" : "small",
            "label": "Small"
          }
        ]
      },
     
      {
        "type" : "select",
        "id" : "background_style",
        "label" : "Background Style",
        "default" : "cover",
        "options" : [
          {
            "value" : "cover",
            "label" : "Cover"
          },
          {
            "value" : "repeat-x",
            "label" : "Horizontal Tile"
          },
          {
            "value" : "repeat-y",
            "label" : "Vertical Tile"
          },
          {
            "value" : "repeat-all",
            "label" : "Tile"
          },
          {
            "value" : "rellax",
            "label" : "Parallax"
          }
        ]
      }
    ],
    "presets": [{
        "name": "Instagram",
        "category": "Custom"
    }]
  }
{% endschema %}
