<section data-section-id="{{ section.id }}" data-section-type="product" >
{% if section.settings.enable_breadcrumbs == true %}{% include 'breadcrumbs' %}{%endif%}
{% assign delay = 0%}
<div class="product-grid__wrap">
  {% include 'product-images' %}
    <div class="product-details__wrap">
    

      <h1 data-aos="fade-up" data-aos="fade-up" data-aos-delay="{{delay}}{% assign delay = delay | plus: 50 %}">{{ product.title }}</h1>
      
      
      {%include 'product-form' %}
  {% if product.description != blank %}
      <div class="rte" data-aos="fade-up" data-aos-delay="{{delay}}{% assign delay = delay | plus: 50 %}">
        {{ product.description }}
      </div>
      {%endif%}

    </div>
</div>
</section>

{% schema %}
  {
    "name": "Product pages",
    "settings": [
      {
        "type": "checkbox",
        "id": "show_related_products",
        "label": "Show related products",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "swatches",
        "label": "Use Swatches",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "enable_quantity",  
        "label": "Enable Quantity",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "enable_breadcrumbs",  
        "label": "Enable Breadcrumbs Menu?",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "zoom_enabled",  
        "label": "Enable Product image zoom?",
        "default": true
      }
    ]
  }
{% endschema %}
